// Variables

// ICA Color Palette
$ICA-Yellow-Light: #FFF373;
$ICA-Yellow-Mid: #FFE600;
$ICA-Yellow-Dark: #FFB500;

$ICA-Orange-Light: #ECB45E;
$ICA-Orange-Mid: #F39100;
$ICA-Orange-Dark: #EB4C05;

$ICA-Red-Light: #E17366;
$ICA-Red-Mid: #E30008;
$ICA-Red-Dark: #9B0600;

$ICA-Pink-Light: #F08886;
$ICA-Pink-Mid: #E60064;
$ICA-Pink-Dark: #A23357;

$ICA-Purple-Light: #BB9EC7;
$ICA-Purple-Mid: #964D92;
$ICA-Purple-Dark: #652082;

$ICA-Green-Light: #7DB66D;
$ICA-Green-Mid: #009738;
$ICA-Green-Dark: #2F6147;

$ICA-LimeGreen-Light: #BACD81;
$ICA-LimeGreen-Mid: #94C11A;
$ICA-LimeGreen-Dark: #506C37;

$ICA-Blue-Light: #6FB4E0;
$ICA-Blue-Mid: #0068A8;
$ICA-Blue-Dark: #10408B;

$ICA-Turquoise-Light: #9BCBCB;
$ICA-Turquoise-Mid: #00ACAB;
$ICA-Turquoise-Dark: #176473;

$ICA-Brown-Light: #CAAA93;
$ICA-Brown-Mid: #855737;
$ICA-Brown-Dark: #593D32;

$ICA-Brown-Lightest: #F9F5F5;
$ICA-Gray-Light: #BDBBB9;
$ICA-Gray-Mid: #868686;
$ICA-Gray-Dark: #3A3A3A;

// Text color for headlines and text
$ICA-Text-Primary: $ICA-Gray-Dark;
// Text color for text labels and prefixes
$ICA-Text-Secondary: #626262;
// Primary background color
$ICA-Background-Primary: $ICA-Brown-Lightest;

// Active color
$ICA-Active: #E3000B;
$ICA-Action-Primary-Background: #E13205;
$ICA-Action-Secondary-Text: #CF2E05;
$ICA-Action-Secondary-Background: #FCECE7;

// Inactive non selectable text color
$ICA-Inactive-Text: #626262;
// Inactive background color
$ICA-Inactive-Background: #EDEDED;

